<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
</head>
<body>
<form method="post" action="/dictionaries"> 
	<input type="submit" value="animals" name="dictionaries">
	<input type="submit" value="body" name="dictionaries">
	<input type="submit" value="cities" name="dictionaries">
	<input type="submit" value="countries" name="dictionaries">
	<input type="submit" value="generic" name="dictionaries">
</form>

<form method="post" action="/dictionaries"> 

<select name="dictionaries"> 
	<option value="animals">Animals</option>
	<option value="body">Body</option>
	<option value="cities">Cities</option>
	<option value="countries">Countries</option>
	<option value="generic">Generic</option>
	<input type="submit" value="submit" id="submit">

</select>

</form>



</form>
</body>
</html>