<!DOCTYPE html>
<html>
<head>
	<title>Hangman</title>
</head>
<body>
	<p><%= if $remainingletters == 0 then "Congratulations!" else "You lost!" end %></p>
	<p><a id="link" href="/newgame">Start a new game</a></p>
</form>
</body>
</html>